body,
html {
  height: 100%;
}

.main .row {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

.navbar-inverse {
  border-color: transparent;
}

nav.sidebar,
.main {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.main {
  padding: 10px 10px 0 10px;
}


.main {
  position: absolute;
  width: calc(100% - 40px); 
  margin-left: 40px;
  float: right;
}

nav.sidebar:hover + .main {
  margin-left: 200px;
}

nav.sidebar.navbar.sidebar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
}

nav.sidebar .navbar-brand,
nav.sidebar .navbar-header {
  text-align: center;
  width: 100%;
  margin-left: 0px;
}

nav.sidebar a {
  padding-right: 13px;
}

nav.sidebar .navbar-nav > li:nth-child(2),
li:nth-last-child(2) {
  border-bottom: 1px #e5e5e5 solid;
}

nav.sidebar .navbar-nav {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav.sidebar .navbar-collapse,
nav.sidebar .container-fluid {
  padding: 0 0px 0 0px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #777;
}

nav.sidebar {
  width: 200px;
  height: 100%;
  margin-left: -160px;
  float: left;
  z-index: 8000;
  margin-bottom: 0px;
}

nav.sidebar li {
  width: 100%;
}

nav.sidebar:hover {
  margin-left: 0px;
}

.forAnimate {
  opacity: 0;
}


.main {
  width: calc(100% - 200px);
  margin-left: 200px;
}

nav.sidebar {
  margin-left: 0px;
  float: left;
}

nav.sidebar .forAnimate {
  opacity: 1;
}

nav.sidebar .navbar-nav > li > a:hover,
nav.sidebar .navbar-nav > li > a:focus {
  color: #ccc;
  background-color: transparent;
}

nav:hover .forAnimate {
  opacity: 1;
}
section {
  padding-left: 15px;
}

.navbar-inverse .navbar-nav > li > a {
  color: wheat;
}

.navbar-inverse .navbar-brand {
  color: white;
}

@media all and (max-width: 768px) {
  nav {
    display: none;
  }
}

nav {
  background: rgb(232, 102, 77);
  background: linear-gradient(
    180deg,
    rgba(232, 102, 77, 1) 0%,
    rgba(151, 46, 96, 1) 76%
  );
}

/* ---------------- ARTICLES -------------- */

.bandeau {
  position: relative;
  z-index: 2;
}

.profil {
  display: flex;
}

.ligue,
.name {
  margin-top: 10px;
  padding-top: 5px;
  font-size: 1.6rem;
}

.ligue {
  flex-grow: 1;
  margin-left: 2rem;
}

.score {
  display: ruby;
  padding-right: 20px;
  margin-top: 10px;
}

.name {
  padding-right: 60px;
}

.avatar {
  position: absolute;
  width: 5rem;
  right: 1%;
}

.logo {
  position: relative;
}

.article,
.bandeau {
  -moz-box-shadow: 10px 10px 5px #656565;
  -webkit-box-shadow: 10px 10px 5px #656565;
  -o-box-shadow: 10px 10px 5px #656565;
  box-shadow: 10px 10px 5px #656565;
}

button.btn {
  background: rgb(124, 24, 102) !important;
  border: rgb(124, 24, 102) !important;
  -webkit-border-radius: 85px !important;
  -moz-border-radius: 85px !important;
  border-radius: 85px !important;
}

.article {
  margin: 1em;
  background: rgb(124, 24, 102);
  background: linear-gradient(
    90deg,
    rgba(124, 24, 102, 1) 0%,
    rgba(241, 26, 27, 1) 50%,
    rgba(255, 138, 70, 1) 100%
  );
}

.card {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

h1 {
  color: white;
  margin-top: 1em;
}

@media (min-width: 992px) {
  button.btn {
    margin-top: 100px;
    width: 50%;
  }
}

@media screen and (min-width: 200px) and (max-width: 991px) {
  h1 {
    width: 60%;
    float: left;
  }

  button.btn {
    float: right;
    width: 40%;
    margin-top: 9%;
  }
}

@media screen and (min-width: 405px) and (max-width: 480px) {
  h1 {
    width: 60%;
    float: left;
  }

  button.btn {
    float: right;
    width: 40%;
    margin-top: 9%;
  }
}

@media screen and (min-width: 386px) and (max-width: 404px) {
  button.btn {
    margin-top: 25%;
  }
}
